@media only screen and (max-width: 500px) {
.navigation{
    visibility: visible !important;
}
*{
    overflow-x: hidden;
}

.hero{
    width: max-content;
    margin: 0 auto;
}
.links{
    visibility: hidden;
}

.aaa-logo{
	margin-left: 12vw;
	margin-top: 14.4px;
	width: 71.4375px;
	/* height:44.525px; */
	/* border: 1px solid red; */
}
.b{
    flex-direction: column;
    margin-top: 10px;
}
.iso {
    display:none;
}
.name{
    font-weight: 400;
    margin: 0 auto;
	font-size: 65px;
}
.location{
    font-weight: 400;
    margin-left: 0 !important;
    font-size: 15px;
}
.venue{
    /* flex-direction: column; */
    justify-content: space-between;
    margin-top: 15px;
}
.start{
	font-size: 12px;
}
.start{
	margin-top:25px;
	margin-left: 0px;

}
.box{
	border: 1px solid white;
	width:30px;
	border-radius: 5px;;
	height:30px;
	font-weight: 300;
	font-size: 18px;
	margin:0 2px;
	
}
.time{
	margin-top:25px ;
	margin-left: 0px;
	display: inline-block;
	margin-right: 10px;
}
.reg{
    /* /* width: 230px;
    height: 40px; */
    display: flex;
    justify-content: center;
    /* border-radius: 5px;
    font-weight: 400;
    font-size: 15px !important;
    margin-top:40px !important;
    margin: 0 auto; */
    /* border: 1px solid white !important; */
    /* margin-bottom: 0px;  */
    
}
#devfolio-apply-now {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    /* background-color: #1a4ecf; */
    border-radius: 6px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    /* font-family:Cera pro; */
    font-size: 16px !important;
    font-weight: 600;
    border: 1.5px solid rgb(255, 255, 255) !important;
    padding: 12px 25px;
    padding-top: 11px;
    text-align: center;
    /* text-transform: lowercase; */
    
    background: #CFC2C21F 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 24px 0px rgba(55, 26, 221, 0.233);
    transition: box-shadow 1s;
}

.hour1{
	font-size: 8px;
	margin-top: 2px;	
}
.run{
    display: flex;
    /* margin-left: 33px; */
    justify-content: flex-start
}
.det{
    width: 100vw;
    margin-top: 55px !important;
    margin: 0 auto;
}
.ques{
    font-size: 18px;
    margin-bottom: 15px !important;
}
.ans{
    margin-top: 5px !important;
    padding:0 30px;
}
.ans p{
	display: flex;
	color: #ffffff;
    font-size: 14px;
    text-align: center;
	justify-content: center;
	font-weight: 400;
}
.anim{
    width: 150px !important;
}
.code{
    font-size: 10px !important;
   
}
.spirit{
    margin-top: 30px !important;
    margin-bottom: 20px;
}
.faqs{
    display: flex;
    flex-direction: column-reverse !important;
    padding-bottom: 40px;
}
.qu{
    margin-top: 10px !important;
    display: flex;
    width: 80% !important;
    margin-right: 0 !important;
    flex-direction: column;
}
.faqs{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.active, .accordion:hover {
    background-color: transparent;
  }

.accordion {
    font-family:Montserrat;
    font-size: 14px !important;
    justify-content: center;
    padding:10px 20px !important ;
    font-weight: 600;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: rgb(43, 43, 43);
  }
  
  .panel {
    font-size: 12px !important;

    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
.un{
    margin-top: 20px !important;
    width:90vw !important;
    text-align: center;
}
.un p{
    font-family:Montserrat;
	color: #DADADA;
	font-size: 10px !important;
	text-align: center;
    font-weight: 600;
    margin-top:0 !important;
    text-align: center;   
}
.un img{ 
    padding-top:10px !important;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 5px !important;

}
.faqs{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-bottom: 10px !important;
}
.prize{
    font-size: 25px !important;
    padding-top: 40px !important;
}
.p{
    width: 300px;
    margin: 20px 35px !important;
    box-shadow: 5px 5px 20px 0 rgba(8, 9, 10, 0.295);
}
.q{
    margin-top: 30px !important;
    display: flex;
    flex-wrap: wrap;
    
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 100px;
}
.sponsor{
    font-family:Montserrat;
    color: #DADADA;
    padding-top: 20px !important;
    padding: 0 10%;
    font-size: 45px !important;
    font-weight: 500;
    margin-bottom: 40px !important;
}
.fot{
    font-family:Montserrat;
	color: #DADADA;
    font-weight: 500;
    width:70vw;
    margin:0 auto ;
    margin-top: 60px !important;
    text-align: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
.follow{
    width: 100% !important;
    font-family:Montserrat;
	color: #DADADA;
    font-size: 15px !important;
    padding-top:20px !important;
    padding-bottom:20px !important;
    margin-top: 0px !important ;
    font-weight: 600;
    text-align: center;
}
.right{
    font-family:Montserrat;
    color: #DADADA;
    margin-top: 20px !important;
    font-size: 9px !important;
    text-align: center;
    font-weight: 400;
    padding-bottom: 65px !important;
}
.rank{
    font-family:Montserrat;
    color: #2243ff;
    font-size: 20px !important;
    font-weight: 700;
    text-align: center;
}
.image{
    margin: 20px auto !important;
    width: 40% !important;
}
.answer{
    font-weight: 600;
    color: #DADADA;
    font-size: 12px !important;
    padding-bottom: 20px;
    padding-top: 20px;
}
.patron{
    color: #2f4fff;;
    font-family: Cera pro;
    font-size: 20px !important;
    /* margin-top: 50px !important; */
    margin-bottom: 20px !important;
    font-weight: 600;
    text-align: center;
}
.patimage{
    width:80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 5px 10% !important;
}
.img{
    width: 60px !important;
    margin: 0 20px !important;
    margin-bottom: 10px !important;
}
.patimage .gold {
    width: 80px !important;
    margin: 0 20px;
    margin-bottom: 25px;
}
.want p{
 
    padding: 0 5% ;
    font-size: 20px !important;
}
.bro a{
    font-size: 20px !important;
}
.mobileiso{
    visibility: visible !important;
    height: 100% !important;
    width:300px !important;
    margin: -40px auto;
    margin-top: -60px !important;
}
.hack img{
    width: 80vw !important;
    margin-top: 30px !important;
}
.title{
    margin-bottom: 30px !important;
}
.challenge{
    color:rgb(219, 219, 219);
    text-decoration: none;
    border-radius: 2px !important;
    border:2px solid #071a72 !important;
    padding: 10px 18px !important;
    margin-top: 25px !important;
    font-weight: 500 !important;
  /* background: #0a34bd; */
  background: #0335a1 ;
  /* font-size: 1.5rem; */
  transform:translateY(0);
box-shadow: 0px 0px 12px -3px rgba(0, 40, 126, 0.349);
}
.conduct{
    margin-bottom: 11px !important;
    font-size: 12px !important;
}
.icons{
    font-size:20px !important;
}
.mentor{
    margin-top: 50px !important;
}
.mentor h1{
    text-align: center;
    font-size:18px !important;
    color: white;
    /* font-weight: 600 !important; */
    margin-bottom: 10px !important;
    font-family: Montserrat;
}
.mentor h2{
    font-size: 15px !important;
}
.team h1{
    text-align: left;
    padding:  2% 0 !important; 
    border-bottom: 2px solid white;
    font-size:18px !important;
    /* font-weight: 400; */
    color: white;
    /* margin-bottom: 80px; */
    margin-bottom: 10px !important;
    font-family: Montserrat;
}
.team h2{
    font-size:15px !important;
    color: white;
    padding-top: 2% 0;
    font-weight: 200;
    margin-bottom:20px;
    font-family: Montserrat;

}  

.ment2{
    width:300px;
    height: 400px;
    position: relative;
    overflow-y:hidden ;
	box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
}
.ment2:hover img{
    filter: blur(3px);
}
.mentphoto{
    width:300px !important;
    height: 300px !important;
    background-color: white;
    overflow-x: hidden;
    overflow-y: hidden;
    border-top-left-radius: 2px !important;
    border-top-right-radius: 2px !important;
}
.mentbio{
    width: 300px !important;
    height: 100px !important;
    background-color: white;
    font-size: 1rem !important;
	line-height: 2rem;
	color: #333;
    font-weight: 300;
    font-family: Montserrat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 2px  !important;
    border-bottom-right-radius: 2px !important;
}
.mentjob{
    color: black;
    font-weight: 600;
    font-size: 1.5rem !important;
}
.mentbox{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100% !important;
}
.affix {
    padding: 0;
    background-color: transparent !important;
    box-shadow: none !important;
}
.progress-bar{
height: 8px !important;
}
.progress-container{
    top:0px;
    height: 8px !important;
}
.logo{
    padding:0px !important;
}
}

@media only screen and (max-width: 300px) {
    .mobileiso{
        margin-left: -16px !important;
        width: 250px !important;
    }
    .name{
        font-size: 50px;
    }
    .reg{
        /* width: 180px;
        height: 35px; */
        border-radius: 4px !important;
        font-weight: 400 !important;
        font-size: 15px !important;
        /* margin-top:25px !important;
        margin: 0 auto !important;
        margin-bottom: 0px !important; */
    }
    .location{
        font-weight: 400;
        margin-left: 0 !important;
        font-size: 12px;
    }
    .start{
        font-size: 10px;
    }

}