.navigation{
    background-color: rgb(49, 9, 224);
    height: 50px;
    position: fixed !important;
     visibility: hidden;
    bottom: 0px;
    width: 100%;
}
.navigation ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.navigation li{
    margin-top:10px;
}
.nav{
    width:30px;
    color: white;
}
