.navigation{
    background-color: rgb(19, 72, 154);
    /* background-color: rgb(27, 92, 112); */
    height: 50px;
    position: fixed !important;
     visibility: hidden;
     /* border-radius: 5px 5px 0 0; */
     box-shadow: 0px 0px 3px 10px rgba(29, 28, 28, 0.055);
    bottom: 0px;
    width: 100%;
}
.navigation ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.navigation li{
    margin-top:10px;
}
.navi{
    width:30px;
    color: white;
}
