.sec2{
    background-color: #0F131C;
    margin-top: -15px;
}
.prize{
    font-family:Montserrat;
	color: #DADADA;
    font-size: 40px;
    display: flex;
    font-weight: 600;
    padding-top: 80px;
    justify-content: center;
    text-align: center;
    /* height:100vh; */
}
.sec3{
    margin-top: -5px;
    background-color: #0C0B0C;
}
.sponsor{
    font-family:'Montserrat';
	color: white;
    font-size: 110px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 100px;
}
footer{
    background-color: #212121;
}
.fot{
    font-family:Montserrat;
	color: #DADADA;
    font-size: 60px;
    
    font-weight: 500;
    width:70vw;
    margin:0 auto ;
    margin-top: 60px !important;
    text-align: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
.follow{
    width:500px;
    font-family:Montserrat;
	color: #DADADA;
    font-size: 35px;
    padding-top:40px;
    padding-bottom:40px;
    margin-top: 60px ;
    font-weight: 600;
    margin: 0 auto;
    text-align: center;
}
.right{
    font-family:Montserrat;
    color: #DADADA;
    margin-top: 40px;
    font-size: 18px;
    text-align: center;
    font-weight: 600;
    padding-bottom: 5px;
}
.icons{
    display: flex;
    margin-top:20px !important;
    width: 80%;
    justify-content: space-evenly;
    margin: 0 auto ;
    overflow: visible;
}
.icons i{
    overflow-y: hidden;
}
.rank{
    font-family:Montserrat;
    color: #2745f0;
    /* color: #279bf0; */
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}
.image{
    width:30%;
    max-width:600px;
    margin: 50px auto;
}
/* #navbar{
    position: sticky;
    top:0;
    width: 100%;
    transition: 0.4s;
} */
.cs{
    background-color:#197BDD;
}

.title
{
    margin-bottom: 100px;
}
#day1{
    font-family: 'Rajdhani', sans-serif;
}
#day2{
    font-family: 'Rajdhani', sans-serif;
}
#hour1{
    font-family: 'Rajdhani', sans-serif;
}
#hour2{
    font-family: 'Rajdhani', sans-serif;
}
#min2{
    font-family: 'Rajdhani', sans-serif;
}
#min1{
    font-family: 'Rajdhani', sans-serif;
}
.challenge{
    color:rgb(219, 219, 219);
    text-decoration: none;
    border-radius: 40px;
    border:2px solid #071a72;
    /* border:2px solid #063b5b; */
    padding: 12px 25px;
    margin-top: 15px;
    font-weight: 500 !important;
  /* background: #0a34bd; */
  background: #0042cf;
  /* background: #146179; */
  /* font-size: 1.5rem; */
  transform:translateY(0);
box-shadow: 0px 0px 12px -3px rgba(0, 40, 126, 0.349);
}
.challenge:hover{
    background: #032f8f;
}
.challenge:active{
    background: #032f8f;
 transform:translateY(-2px);
}
.conduct{
    margin-bottom: 20px;
    font-size: 20px;
}
#devfolio{
    color:#0099ff;
    text-decoration: none;
}
.mentor{
    margin-top: 80px !important;
    width: 80%;
    margin: 0 auto;
}
.mentor h1{
    text-align: left;
    padding:  3% 0;
    border-bottom: 2px solid white;
    font-size:25px;
    font-weight: 400;
    color: white;
    /* margin-bottom: 80px; */
    font-family: Montserrat;
}
.mentor h2{
    font-size:18px;
    color: white;
    padding-top: 3%;
    font-weight: 200;
    margin-bottom: 70px;
    font-family: Montserrat;
}
.platinum{
    margin-bottom: 70px;;
}