.sec2{
    background-color: #0F131C;
    margin-top: -15px;
}
.prize{
    font-family:Montserrat;
	color: #DADADA;
    font-size: 40px;
    display: flex;
    font-weight: 600;
    padding-top: 80px;
    justify-content: center;
    text-align: center;
    /* height:100vh; */
}
.sec3{
    margin-top: -5px;
    background-color: #0C0B0C;
}
.sponsor{
    font-family:Montserrat;
	color: #DADADA;
    font-size: 90px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 100px;
}
footer{
    background-color: #15171a;
}
.fot{
    font-family:Montserrat;
	color: #DADADA;
    font-size: 60px;
    
    font-weight: 500;
    width:70vw;
    margin:0 auto ;
    margin-top: 60px !important;
    text-align: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
.follow{
    width:500px;
    font-family:Montserrat;
	color: #DADADA;
    font-size: 35px;
    padding-top:40px;
    padding-bottom:40px;
    margin-top: 60px ;
    font-weight: 600;
    margin: 0 auto;
    text-align: center;
}
.right{
    font-family:Montserrat;
    color: #DADADA;
    margin-top: 40px;
    font-size: 18px;
    text-align: center;
    font-weight: 600;
    padding-bottom: 5px;
}
.icons{
    display: flex;
    margin-top:20px !important;
    width: 60%;
    justify-content: space-evenly;
    margin: 0 auto ;
}
.icons i{
    overflow-y: hidden;
}
.rank{
    font-family:Montserrat;
    color: #2243ff;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
}
.image{
    width:60%;
    margin: 50px auto;
}