.timelinepc{
    width:800px;
    /* height:75vh; */
    /* border-radius: 20px; */
    margin: 140px auto;
    /* margin-top:140px; */
    /* background-color: rgb(23, 59, 160); */
}

.eventschedule{
font-size:3rem;
color:white;
font-family: 'Montserrat';
font-weight: 600;
text-align: center;
}
.eventschedule2{
    font-size:1.2rem;
    color:white;
    text-align: center;
    margin-top:5px;
    font-family: 'Montserrat';
}
.eventschedule3{
    font-size:2rem;
    color:rgb(44, 44, 44);
    text-align: center;
    border: 2px solid rgb(7, 95, 189);
    width: fit-content;
    margin: 0 auto;
    background-color: rgb(168, 213, 255);
    padding:10px 15px;
    border-radius: 4px;
    margin-top:45px;
    /* text-decoration: underline; */
    font-weight: 600;
    font-family: 'Montserrat';
}
.timelineBox {
    /* max-width: 400px; */
    width:350px;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
	background: #fff;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.06), 0 1px 0 rgba(0, 0, 0, 0.02);
}

.timelineHeader {
    padding: 3rem 2rem;
    text-align: center;
	background: #1593e7;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.5), 0 4px 0 rgba(0, 0, 0, 0.02);
	position: relative;
	z-index: 3;
}

.timelineHeader h3 {
	font-family: inherit;
	font-size: 2.5rem;
	letter-spacing: 0.1rem;
	color: #fff;
	font-weight: normal;
	margin: 0;
}

.timelineHeader h3 + span {
	font-size: 1.2rem;
	letter-spacing: 0.2rem;
	font-weight: normal;
	color: #fff;
}

.timelineBody1 {
    /* max-height: 400px; */
    margin-top:50px;
	overflow-x: hidden;
	overflow-y: auto;
}

.timelineBody1 .timeline {
	padding: 3rem 2rem !important;
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
	z-index: 2;
}

.timelineBody1 .timeline:before {
	content: '';
	position: absolute;
	width: 4px;
	background: #fff;
	top: 0;
	right: auto;
	left: 25px;
	height: 100%;
	z-index: -1;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.085), 0 1px 0 rgba(0, 0, 0, 0.02);
}

.timelineBody1 .timeline li {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	margin-bottom: 5rem;
	position: relative;
}

.timelineBody1 .timeline .timelineDot {
	height: 1.5rem;
	width: 1.5rem;
	background: #fff;
	border-radius: 2rem;
	flex: 0 0 1.5rem;
	margin-right: auto;
    margin-top: 44px;
    overflow-x: visible !important;
	box-shadow: 0 0 8px #55adff;
}

.timelineBody1 .timeline .timelineDot::after {
	content: '';
	position: absolute;
	top: 47px;
	left: 3px;
	height: 9px;
	width: 9px;
	background: #55adff;
	border-radius: 50%;
}


.timelineBody1 .timeline .timelineDot :first {
	height: 1.5rem;
	width: 1.5rem;
	background: #fff;
	border-radius: 2rem;
	flex: 0 0 1.5rem;
	margin-right: auto;
	margin-top: 44px;
	box-shadow: 0 0 8px #3c3e41;
}

.timelineBody1 .timeline .timelineDot::after :first{
	content: '';
	position: absolute;
	top: 47px;
	left: 3px;
	height: 9px;
	width: 9px;
	background: ##3c3e41;
	border-radius: 50%;
}

.timelineBody1 .timeline .timelineDate {
	font-size: 1.2rem;
	flex: 0 0 80px;
	padding: 0.2rem;
}

.timelineBody1 .timeline .timelineWork {
	font-family: inherit;
	font-size: 1.4rem;
	margin-left: auto;
	flex: 0 0 170px;
}

.timelineBody1 .timeline .timelineWork small {
	display: block;
	color: #bdbdbd;
}

.timelineBody1::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #F5F5F5;
}

.timelineBody1::-webkit-scrollbar {
	width: 6px;
	background-color: #F5F5F5;
}

.timelineBody1::-webkit-scrollbar-thumb {
	background-color: #1593e7;
}

.timelined{
    height: 100vh;
    /* display: flex; */
    align-items: center;
    display: flex;
    /* flex-direction: row;  */
    justify-content: center;
    display: none;
}
.timedcard{
    display: flex;
    margin-left:5px;

}
.timedcard1{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height:100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:150px;
    background-color: #e6e6e6;
}
.timedimage{
	display: flex;
	justify-content: center;
	align-items: center;
}
.timedimage img{
    border-radius: 50%;
    width: 60px;
    height: 60px;
}
.timedname{
    font-family: 'Montserrat';
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
}
.timedcard2{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #e6e6e6;
    width:500px;
    height:100px;
    display: flex;
    flex-direction: column;
	/* justify-content: center; */
	padding-top: 15px !important;
    /* align-items: center; */
	padding:0 30px;
}
.timedate{
    font-size: 1.3rem;
    font-family: 'Montserrat';
    font-weight: 600;
    color: #383838;
}
.timedtopic{
    font-size: 2rem;
    font-family: 'Montserrat';
	margin-top:10px;
	color: #1d1d1d;
    font-weight: 600;
}   